body { 
    background-color: #FDF3E7;
}

.main-canvas { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.control-label {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    margin: 15px;
    text-decoration: underline;
}

.control-group {
    margin-left: 15px;
    margin-top: 40px;
}

.tooltips {
    margin: 25px;
}

.btn-group {
    margin-left: 14px;
}

.audio-player {
    visibility: hidden;
}

